@charset "utf-8";
/* CSS Document */

/*************************************************************************
   Car Press - Screen CSS - Author: Ollie Battams freshegg.com  
 ************************************************************************/


*{margin:0;padding:0;}



#AdsNationwideScroll em{font-style:italic;}
#AdsNationwideScroll em a{font-style:italic;}

#AdsNationwideScroll a{color:#0f3d4d;}
#AdsNationwideScroll a:hover{color:#069;}

#AdsNationwideScroll{
	
	float:right;
	height:230px;
	overflow:hidden;
	width:230px;}

#AdsNationwideScroll div{
	float:left;
	height:300px;
	
	width:230px;}

#AdsNationwideScroll p{
	float:left;
	font-size:62.5%;
	height:75px;
	
	
	padding:0px !important;
	width:230px;}

#AdsNationwideScroll a.carimg{
	float:left;
	width:230px;}



#AdsNationwideScroll .carimg img { width:80px; height:64px} 
#AdsNationwideScroll a.carimg{
	display:block;
	float:right;
	text-align:right;
	width:90px;font-family: arial;
	font-size: 17px
	}


#AdsNationwideScroll span{
	display:block;
	float:right;
	padding:0;
	padding:5px 0px;
	text-align:right;
	height:70px; overflow:hidden;
	width:140px;
	


}

